
<section class="mybackground">
  <div class="camadaopacity"></div>
  <div class="container ">
    <div class="row justify-content-center">
      <div class='wrap'>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
      </div>
      <div class='col-3 col-sm-4 '></div>
      <div class='col-3 col-sm-4 '></div>
      <div class='col-6 col-sm-4 '>
        <span> <i class="fas fa-star "></i> </span>
        <span> <i class="fas fa-star "></i> </span>
        <span> <i class="fas fa-star "></i> </span>
        <span> <i class="fas fa-star "></i> </span>
        <span> <i class="fas fa-star "></i> </span>
        <span class="ambiente5estrelas" > Ambiente <span class="ficaverde">Online</span> 5 Estrelas</span>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-11 col-sm-3  text-center text-light spacex" data-aos="fade-top">
        <div class="mywrapper">
          <span class="empurraprabaixo">Olá!<img src="assets/img/smile.png" alt="smile"> Eu sou </span>
          <h1 class="fs-5" >Jonathas Borges</h1>
        </div>
        <div class="mywrapper1">
          <span class="maquina-escrever tamanhotexto"></span>
        </div>
      </div>
      <div class="col-11 col-sm-6  embed-border" data-aos="fade-right" >
        <div class="embed-responsive">
          <iframe class="embed-responsive-item"
                  type="text/html"
                  src="https://www.youtube.com/embed/tGD6xRMrtcQ"
                  frameborder="0"
                  allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>

</section>



